@model DATN.MVC.Respone.User.UserResponse



<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Pitnik Social Network Toolkit</title>
	<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="css/main.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/responsive.css">

</head>
<body>
	
	<div class="theme-layout">

		<div class="responsive-header">
			<div class="mh-head first Sticky">
				<span class="mh-btns-left">
					<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
				</span>
				<span class="mh-text">
					<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
				</span>
				<span class="mh-btns-right">
					<a class="fa fa-sliders" href="#shoppingbag"></a>
				</span>
			</div>
			<div class="mh-head second">
				<form class="mh-form">
					<input placeholder="search" />
					<a href="#/" class="fa fa-search"></a>
				</form>
			</div>
			<nav id="menu" class="res-menu">
				<ul>
					<li>
						<span>Trang Chủ</span>
						<ul>
							<li><a href="index.html" title="">Trang Chủ 1</a></li>
							<li><a href="index2.html" title="">Trang Chủ 2</a></li>
							<li><a href="company-landing.html" title="">Trang Chủ Công Ty</a></li>
							<li><a href="pitrest.html" title="">Pitrest</a></li>
							<li><a href="redpit.html" title="">Redpit</a></li>
							<li><a href="redpit-category.html" title="">Danh Mục Redpit</a></li>
							<li><a href="soundnik.html" title="">Soundnik</a></li>
							<li><a href="soundnik-detail.html" title="">Chi Tiết Soundnik</a></li>
							<li><a href="career.html" title="">Pitjob</a></li>
							<li><a href="shop.html" title="">Cửa Hàng</a></li>
							<li><a href="classified.html" title="">Rao Vặt</a></li>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="pitt...">...</a></li>
						</ul>
					</li>

					<li>
						<span>Podcast</span>
						<ul>
							<li><a href="podcast.html" title="">Podcast</a></li>
							<li><a href="podcast-all.html" title="">Pittube All</a></li>
							<li><a href="podcast-personal.html" title="">Podcast Personal</a></li>
							<li><a href="live-streaming.html" title="">Live Streaming</a></li>
						</ul>
					</li>
					<li>
						<span>Pittube</span>
						<ul>
							<li><a href="pittube.html" title="">Pittube</a></li>
							<li><a href="pittube-detail.html" title="">Pittube single</a></li>
							<li><a href="pittube-category.html" title="">Pittube Category</a></li>
							<li><a href="pittube-channel.html" title="">Pittube Channel</a></li>
							<li><a href="pittube-search-result.html" title="">Pittube Search Result</a></li>
						</ul>
					</li>
					<li>
						<span>PitPoint</span>
						<ul>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="pitpoint-detail.html" title="">Pitpoint Detail</a></li>
							<li><a href="pitpoint-list.html" title="">Pitpoint List style</a></li>
							<li><a href="pitpoint-without-baner.html" title="">Pitpoint without Banner</a></li>
							<li><a href="pitpoint-search-result.html" title="">Pitpoint Search</a></li>
						</ul>
					</li>
					<li>
						<span>Pitjob</span>
						<ul>
							<li><a href="career.html" title="">Pitjob</a></li>
							<li><a href="career-detail.html" title="">Pitjob Detail</a></li>
							<li><a href="career-search-result.html" title="">Job seach page</a></li>
							<li><a href="social-post-detail.html" title="">Social Post Detail</a></li>
						</ul>
					</li>
					<li>
						<span>Timeline</span>
						<ul>
							<li><a href="timeline.html" title="">Timeline</a></li>
							<li><a href="timeline-photos.html" title="">Timeline Photos</a></li>
							<li><a href="timeline-videos.html" title="">Timeline Videos</a></li>
							<li><a href="timeline-groups.html" title="">Timeline Groups</a></li>
							<li><a href="timeline-friends.html" title="">Timeline Friends</a></li>
							<li><a href="timeline-friends2.html" title="">Timeline Friends-2</a></li>
							<li><a href="about.html" title="">Timeline About</a></li>
							<li><a href="blog-posts.html" title="">Timeline Blog</a></li>
							<li><a href="friends-birthday.html" title="">Friends' Birthday</a></li>
							<li><a href="newsfeed.html" title="">Newsfeed</a></li>
							<li><a href="search-result.html" title="">Search Result</a></li>
							<li><a href="library.html" title="">Library</a></li>
							<li><a href="library-detail.html" title="">Library Detail</a></li>
							<li><a href="ad-center.html" title="">Ad Center</a></li>
						</ul>
					</li>
					<li>
						<span>Favourit Page</span>
						<ul>
							<li><a href="fav-page.html" title="">Favourit Page</a></li>
							<li><a href="games.html" title="">Games</a></li>
							<li><a href="fav-favers.html" title="">Fav Page Likers</a></li>
							<li><a href="fav-events.html" title="">Fav Events</a></li>
							<li><a href="fav-event-invitations.html" title="">Fav Event Invitations</a></li>
							<li><a href="event-calendar.html" title="">Event Calendar</a></li>
							<li><a href="fav-page-create.html" title="">Create New Page</a></li>
							<li><a href="price-plans.html" title="">Price Plan</a></li>
						</ul>
					</li>
					<li>
						<span>Forum</span>
						<ul>
							<li><a href="forum.html" title="">Forum</a></li>
							<li><a href="forum-create-topic.html" title="">Forum Create Topic</a></li>
							<li><a href="forum-open-topic.html" title="">Forum Open Topic</a></li>
							<li><a href="forums-category.html" title="">Forum Category</a></li>
						</ul>
					</li>
					<li>
						<span>Featured</span>
						<ul>
							<li><a href="chat-messenger.html" title="">Messenger (Chatting)</a></li>
							<li><a href="notifications.html" title="">Notifications</a></li>
							<li><a href="badges.html" title="">Badges</a></li>
							<li><a href="faq.html" title="">Faq's</a></li>
							<li><a href="contribution.html" title="">Contriburion Page</a></li>
							<li><a href="manage-page.html" title="">Manage Page</a></li>
							<li><a href="weather-forecast.html" title="">weather-forecast</a></li>
							<li><a href="statistics.html" title="">Statics/Analytics</a></li>
							<li><a href="shop-cart.html" title="">Shop Cart</a></li>
						</ul>
					</li>
					<li>
						<span>Account Setting</span>
						<ul>
							<li><a href="setting.html" title="">Setting</a></li>
							<li><a href="privacy.html" title="">Privacy</a></li>
							<li><a href="support-and-help.html" title="">Support & Help</a></li>
							<li><a href="support-and-help-detail.html" title="">Support Detail</a></li>
							<li><a href="support-and-help-search-result.html" title="">Support Search</a></li>
						</ul>
					</li>
					<li>
						<span>Authentication</span>
						<ul>
							<li><a href="login.html" title="">Login Page</a></li>
							<li><a href="register.html" title="">Register Page</a></li>
							<li><a href="register2.html" title="">Register Page</a></li>
							<li><a href="logout.html" title="">Logout Page</a></li>
							<li><a href="coming-soon.html" title="">Coming Soon</a></li>
							<li><a href="error-404.html" title="">Error 404</a></li>
							<li><a href="error-404-2.html" title="">Error 404-2</a></li>
							<li><a href="error-500.html" title="">Error 500</a></li>
						</ul>
					</li>
					<li>
						<span>Tools</span>
						<ul>
							<li><a href="typography.html" title="">Typography</a></li>
							<li><a href="popup-modals.html" title="">Popups/Modals</a></li>
							<li><a href="post-versions.html" title="">Post Versions</a></li>
							<li><a href="sliders.html" title="">Sliders / Carousel</a></li>
							<li><a href="google-map.html" title="">Google Maps</a></li>
							<li><a href="widgets.html" title="">Widgets</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav id="shoppingbag">
				<div>
					<div class="">
						<form method="post">
							<div class="setting-row">
								<span>use night mode</span>
								<input type="checkbox" id="nightmode" />
								<label for="nightmode" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Notifications</span>
								<input type="checkbox" id="switch2" />
								<label for="switch2" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Notification sound</span>
								<input type="checkbox" id="switch3" />
								<label for="switch3" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>My profile</span>
								<input type="checkbox" id="switch4" />
								<label for="switch4" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Show profile</span>
								<input type="checkbox" id="switch5" />
								<label for="switch5" data-on-label="ON" data-off-label="OFF"></label>
							</div>
						</form>
						<h4 class="panel-title">Account Setting</h4>
						<form method="post">
							<div class="setting-row">
								<span>Sub users</span>
								<input type="checkbox" id="switch6" />
								<label for="switch6" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>personal account</span>
								<input type="checkbox" id="switch7" />
								<label for="switch7" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Business account</span>
								<input type="checkbox" id="switch8" />
								<label for="switch8" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Show me online</span>
								<input type="checkbox" id="switch9" />
								<label for="switch9" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Delete history</span>
								<input type="checkbox" id="switch10" />
								<label for="switch10" data-on-label="ON" data-off-label="OFF"></label>
							</div>
							<div class="setting-row">
								<span>Expose author name</span>
								<input type="checkbox" id="switch11" />
								<label for="switch11" data-on-label="ON" data-off-label="OFF"></label>
							</div>
						</form>
					</div>
				</div>
			</nav>
		</div><!-- responsive header -->




		<div class="fixed-sidebar left">
			<div class="menu-left">
				<ul class="left-menu">
					<li>
						<a class="menu-small" href="#" title="">
							<i class="ti-menu"></i>
						</a>
					</li>

					<li>
						<a href="shop.html" title="Market Place" data-toggle="tooltip" data-placement="right">
							<i>
								<svg clip-rule="evenodd" fill-rule="evenodd" height="20px" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="-.83 -.04 65.2 69.73" width="20px" xmlns="http://www.w3.org/2000/svg">
									<g fill="#535165">
										<path d="m15.97 23.88c.57 1.08.56 2.79 2.6 4.44 4.38 3.54 10.01 1.89 12.04-1.87.27-.5.93-2.38 1.08-2.58.6 1.04.57 2.57 2.63 4.44 4.2 3.79 11.56 2.12 13.06-4.46l.41.88c.51 1.66 1.26 2.72 2.63 3.87 5.18 4.35 13.95-.08 12.77-7.53-.15-.96-2.08-6.61-2.51-8.01-.79-2.56-1.76-5.35-2.52-7.92-.8-2.66-1.46-5.07-5.45-5.11-6.99-.07-14.02 0-21.02 0s-14.01-.03-21.02 0c-1.48.01-2.98.56-3.78 1.36-.98 1-1.21 2.22-1.65 3.62-.83 2.7-1.68 5.32-2.55 8.02-.46 1.41-2.3 6.91-2.48 7.99-1.04 6.42 5.42 11.06 10.96 8.63 2.04-.89 3.77-2.74 4.4-4.82.17-.58.1-.68.4-.95zm-7.59 9.14-2.52-.08-.03 16.97c-.02 4.51 3.12 7.66 7.56 7.67 11.96 0 24.89-.1 37.01.01 3.44.03 7.12-2.99 7.12-7.14l.01-17.52c-.57-.06-2.14.11-2.93.09-1.26-.03-1.83-.43-2.89-.51l-.01 16.99c0 2.6-.98 2.1-3.2 2.1-10.44 0-20.88-.05-31.31.09l-3.53-.02c-2.46 0-2.03-1.2-2.04-4.34l.03-14.8c-1.01-.01-1.82.49-3.27.49z" />
										<path d="m7.33 69.56h.76l-.26-8.62h-1.11l-2.67 7.04-2.68-7.04h-1.11l-.26 8.62h.76l.19-7.86 2.51 6.75h1.18l2.51-6.75zm7.17-4.61c0-1.17-.65-1.82-2.28-1.82-.64 0-1.43.1-1.94.24l.12.64c.58-.12 1.24-.21 1.86-.21 1.04 0 1.49.29 1.49 1.15v1.23h-1.86c-1.25 0-1.86.42-1.86 1.75 0 1.13.52 1.76 1.64 1.76.83 0 1.52-.24 2.13-.62l.05.49h.65zm-.75 3.42c-.57.4-1.31.65-1.93.65-.88 0-1.03-.34-1.03-1.08 0-.82.25-1.08 1.12-1.08h1.84zm5.48-5.24c-.6.22-1.27.65-1.94 1.09l-.04-.96h-.68v6.3h.75v-4.53c.61-.4 1.34-.88 2-1.16zm2.13 6.43v-8.98l-.75.1v8.88zm2.83-6.3-2.49 3.11 2.57 3.19h.95l-2.61-3.19 2.51-3.11zm2.85 4.17v-.79h3.89v-1.22c0-1.29-.51-2.29-2.29-2.29-1.77 0-2.35 1-2.35 2.29v1.98c0 1.37.57 2.29 2.34 2.29.76 0 1.59-.14 2.17-.35l-.13-.61c-.62.17-1.34.3-1.99.3-1.26 0-1.64-.48-1.64-1.6zm0-2.04c0-1.06.42-1.61 1.6-1.61s1.56.55 1.56 1.61v.57h-3.16zm8.88 3.47c-.38.12-.78.19-1.13.19-.64 0-.72-.24-.72-.79v-4.35h1.85l.08-.65h-1.93v-1.6l-.75.11v1.49h-1.22v.65h1.22v4.42c0 1 .42 1.36 1.42 1.36.45 0 .96-.1 1.32-.24zm1.76.7h.76v-3.29h2.17c1.73 0 2.37-.79 2.37-1.99v-1.35c0-1.2-.64-1.99-2.37-1.99h-2.93zm4.53-6.63v1.35c0 .95-.5 1.31-1.59 1.31h-2.18v-3.96h2.18c1.09 0 1.59.36 1.59 1.3zm3.2 6.63v-8.98l-.75.1v8.88zm6.41-4.61c0-1.17-.65-1.82-2.28-1.82-.65 0-1.44.1-1.94.24l.11.64a9.65 9.65 0 0 1 1.87-.21c1.04 0 1.49.29 1.49 1.15v1.23h-1.87c-1.24 0-1.85.42-1.85 1.75 0 1.13.52 1.76 1.63 1.76.83 0 1.53-.24 2.14-.62l.05.49h.65zm-.75 3.42c-.57.4-1.31.65-1.93.65-.88 0-1.04-.34-1.04-1.08 0-.82.26-1.08 1.13-1.08h1.84zm3.18-3.09c0-1.13.46-1.48 1.64-1.48.37 0 .81.04 1.34.13l.09-.62a5.96 5.96 0 0 0 -1.43-.18c-1.78 0-2.39.81-2.39 2.17v2.22c0 1.36.61 2.17 2.39 2.17.42 0 .99-.06 1.43-.18l-.09-.62c-.53.09-.97.13-1.34.13-1.18 0-1.64-.35-1.64-1.48zm5.21 2.15v-.79h3.9v-1.22c0-1.29-.52-2.29-2.3-2.29-1.77 0-2.35 1-2.35 2.29v1.98c0 1.37.57 2.29 2.34 2.29.77 0 1.59-.14 2.18-.35l-.13-.61c-.62.17-1.35.3-2 .3-1.25 0-1.64-.48-1.64-1.6zm0-2.04c0-1.06.43-1.61 1.6-1.61 1.18 0 1.56.55 1.56 1.61v.57h-3.16z" fill-rule="nonzero" />
									</g>
								</svg>
							</i>
						</a>
					</li>
					<li>
						<a href="forum.html" title="Forum" data-toggle="tooltip" data-placement="right">
							<i class="fa-brands fa-forumbee"></i>
						</a>
					</li>
					<li>
						<a href="timeline-friends.html" title="Friends" data-toggle="tooltip" data-placement="right">
							<i class="fa-regular fa-user"></i>
						</a>
					</li>
					<li>
						<a href="fav-page.html" title="Favourit page" data-toggle="tooltip" data-placement="right">
							<i class="fa-regular fa-star-christmas"></i>
						</a>
					</li>
					<li>
						<a href="chat-messenger.html" title="Messages" data-toggle="tooltip" data-placement="right">
							<i class="fa-regular fa-messages"></i>
						</a>
					</li>
					<li>
						<a href="notifications.html" title="Notification" data-toggle="tooltip" data-placement="right">
							<i class="fa-regular fa-bell"></i>
						</a>
					</li>

					<li>
						<a href="statistics.html" title="Account Stats" data-toggle="tooltip" data-placement="right">
							<i class="fa-regular fa-chart-line"></i>
						</a>
					</li>

					<li>
						<a href="support-and-help.html" title="Help" data-toggle="tooltip" data-placement="right">
							<i class="fa-regular fa-square-question"></i>
						</a>
					</li>
					<li>
						<a href="faq.html" title="Faq's" data-toggle="tooltip" data-placement="right">
							<i class="fa-regular fa-lightbulb-on"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="left-menu-full">
				<ul class="menu-slide">
					<li><a class="closd-f-menu" href="#" title=""><i class="fa-sharp fa-regular fa-xmark"></i> close Menu</a></li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-house"></i> Home Pages</a>
						<ul class="submenu">
							<li><a href="index.html" title="">Home 1</a></li>
							<li><a href="index2.html" title="">Home 2</a></li>
							<li><a href="company-landing.html" title="">Company Landing</a></li>
							<li><a href="pitrest.html" title="">Pitrest</a></li>
							<li><a href="redpit.html" title="">Redpit</a></li>
							<li><a href="redpit-category.html" title="">Redpit Category</a></li>
							<li><a href="soundnik.html" title="">Soundnik</a></li>
							<li><a href="soundnik-detail.html" title="">Soundnik Single</a></li>
							<li><a href="career.html" title="">Pitjob</a></li>
							<li><a href="shop.html" title="">Market Place</a></li>
							<li><a href="classified.html" title="">Classified</a></li>
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="pittube.html" title="">Pittube</a></li>
							<li><a href="chat-messenger.html" title="">Messenger</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title="">
							<i>
								<svg clip-rule="evenodd" fill-rule="evenodd" height="16px" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="-.83 -.04 65.2 69.73" width="16px" xmlns="http://www.w3.org/2000/svg">
									<g fill="#535165">
										<path d="m15.97 23.88c.57 1.08.56 2.79 2.6 4.44 4.38 3.54 10.01 1.89 12.04-1.87.27-.5.93-2.38 1.08-2.58.6 1.04.57 2.57 2.63 4.44 4.2 3.79 11.56 2.12 13.06-4.46l.41.88c.51 1.66 1.26 2.72 2.63 3.87 5.18 4.35 13.95-.08 12.77-7.53-.15-.96-2.08-6.61-2.51-8.01-.79-2.56-1.76-5.35-2.52-7.92-.8-2.66-1.46-5.07-5.45-5.11-6.99-.07-14.02 0-21.02 0s-14.01-.03-21.02 0c-1.48.01-2.98.56-3.78 1.36-.98 1-1.21 2.22-1.65 3.62-.83 2.7-1.68 5.32-2.55 8.02-.46 1.41-2.3 6.91-2.48 7.99-1.04 6.42 5.42 11.06 10.96 8.63 2.04-.89 3.77-2.74 4.4-4.82.17-.58.1-.68.4-.95zm-7.59 9.14-2.52-.08-.03 16.97c-.02 4.51 3.12 7.66 7.56 7.67 11.96 0 24.89-.1 37.01.01 3.44.03 7.12-2.99 7.12-7.14l.01-17.52c-.57-.06-2.14.11-2.93.09-1.26-.03-1.83-.43-2.89-.51l-.01 16.99c0 2.6-.98 2.1-3.2 2.1-10.44 0-20.88-.05-31.31.09l-3.53-.02c-2.46 0-2.03-1.2-2.04-4.34l.03-14.8c-1.01-.01-1.82.49-3.27.49z" />
										<path d="m7.33 69.56h.76l-.26-8.62h-1.11l-2.67 7.04-2.68-7.04h-1.11l-.26 8.62h.76l.19-7.86 2.51 6.75h1.18l2.51-6.75zm7.17-4.61c0-1.17-.65-1.82-2.28-1.82-.64 0-1.43.1-1.94.24l.12.64c.58-.12 1.24-.21 1.86-.21 1.04 0 1.49.29 1.49 1.15v1.23h-1.86c-1.25 0-1.86.42-1.86 1.75 0 1.13.52 1.76 1.64 1.76.83 0 1.52-.24 2.13-.62l.05.49h.65zm-.75 3.42c-.57.4-1.31.65-1.93.65-.88 0-1.03-.34-1.03-1.08 0-.82.25-1.08 1.12-1.08h1.84zm5.48-5.24c-.6.22-1.27.65-1.94 1.09l-.04-.96h-.68v6.3h.75v-4.53c.61-.4 1.34-.88 2-1.16zm2.13 6.43v-8.98l-.75.1v8.88zm2.83-6.3-2.49 3.11 2.57 3.19h.95l-2.61-3.19 2.51-3.11zm2.85 4.17v-.79h3.89v-1.22c0-1.29-.51-2.29-2.29-2.29-1.77 0-2.35 1-2.35 2.29v1.98c0 1.37.57 2.29 2.34 2.29.76 0 1.59-.14 2.17-.35l-.13-.61c-.62.17-1.34.3-1.99.3-1.26 0-1.64-.48-1.64-1.6zm0-2.04c0-1.06.42-1.61 1.6-1.61s1.56.55 1.56 1.61v.57h-3.16zm8.88 3.47c-.38.12-.78.19-1.13.19-.64 0-.72-.24-.72-.79v-4.35h1.85l.08-.65h-1.93v-1.6l-.75.11v1.49h-1.22v.65h1.22v4.42c0 1 .42 1.36 1.42 1.36.45 0 .96-.1 1.32-.24zm1.76.7h.76v-3.29h2.17c1.73 0 2.37-.79 2.37-1.99v-1.35c0-1.2-.64-1.99-2.37-1.99h-2.93zm4.53-6.63v1.35c0 .95-.5 1.31-1.59 1.31h-2.18v-3.96h2.18c1.09 0 1.59.36 1.59 1.3zm3.2 6.63v-8.98l-.75.1v8.88zm6.41-4.61c0-1.17-.65-1.82-2.28-1.82-.65 0-1.44.1-1.94.24l.11.64a9.65 9.65 0 0 1 1.87-.21c1.04 0 1.49.29 1.49 1.15v1.23h-1.87c-1.24 0-1.85.42-1.85 1.75 0 1.13.52 1.76 1.63 1.76.83 0 1.53-.24 2.14-.62l.05.49h.65zm-.75 3.42c-.57.4-1.31.65-1.93.65-.88 0-1.04-.34-1.04-1.08 0-.82.26-1.08 1.13-1.08h1.84zm3.18-3.09c0-1.13.46-1.48 1.64-1.48.37 0 .81.04 1.34.13l.09-.62a5.96 5.96 0 0 0 -1.43-.18c-1.78 0-2.39.81-2.39 2.17v2.22c0 1.36.61 2.17 2.39 2.17.42 0 .99-.06 1.43-.18l-.09-.62c-.53.09-.97.13-1.34.13-1.18 0-1.64-.35-1.64-1.48zm5.21 2.15v-.79h3.9v-1.22c0-1.29-.52-2.29-2.3-2.29-1.77 0-2.35 1-2.35 2.29v1.98c0 1.37.57 2.29 2.34 2.29.77 0 1.59-.14 2.18-.35l-.13-.61c-.62.17-1.35.3-2 .3-1.25 0-1.64-.48-1.64-1.6zm0-2.04c0-1.06.43-1.61 1.6-1.61 1.18 0 1.56.55 1.56 1.61v.57h-3.16z" fill-rule="nonzero" />
									</g>
								</svg>
							</i> Market Place
						</a>
						<ul class="submenu">
							<li><a href="shop.html" title="">Market Place</a></li>
							<li><a href="shop-detail.html" title="">Product Detail</a></li>
							<li><a href="shop-cart.html" title="">Cart Page</a></li>
							<li><a href="shop-checkout.html" title="">Order Checkout</a></li>
							<li><a href="shop2.html" title="">Shop Demo2</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-microphone"></i> Podcast</a>
						<ul class="submenu">
							<li><a href="podcast.html" title="">Podcast</a></li>
							<li><a href="podcast-all.html" title="">Pittube All</a></li>
							<li><a href="podcast-personal.html" title="">Podcast Personal</a></li>
							<li><a href="live-streaming.html" title="">Live Streaming</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-play"></i> Pittube</a>
						<ul class="submenu">
							<li><a href="pittube.html" title="">Pittube</a></li>
							<li><a href="pittube-detail.html" title="">Pittube single</a></li>
							<li><a href="pittube-category.html" title="">Pittube Category</a></li>
							<li><a href="pittube-channel.html" title="">Pittube Channel</a></li>
							<li><a href="pittube-search-result.html" title="">Pittube Search Result</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-heart"></i> PitPoint</a>
						<ul class="submenu">
							<li><a href="pitpoint.html" title="">PitPoint</a></li>
							<li><a href="pitpoint-detail.html" title="">Pitpoint Detail</a></li>
							<li><a href="pitpoint-list.html" title="">Pitpoint List style</a></li>
							<li><a href="pitpoint-without-baner.html" title="">Pitpoint without Banner</a></li>
							<li><a href="pitpoint-search-result.html" title="">Pitpoint Search</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-graduation-cap"></i> Pitjob</a>
						<ul class="submenu">
							<li><a href="career.html" title="">Pitjob</a></li>
							<li><a href="career-detail.html" title="">Pitjob Detail</a></li>
							<li><a href="career-search-result.html" title="">Job seach page</a></li>
							<li><a href="social-post-detail.html" title="">Social Post Detail</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-list-timeline"></i> Timeline</a>
						<ul class="submenu">
							<li><a href="timeline.html" title="">Timeline</a></li>
							<li><a href="timeline-photos.html" title="">Timeline Photos</a></li>
							<li><a href="timeline-videos.html" title="">Timeline Videos</a></li>
							<li><a href="timeline-groups.html" title="">Timeline Groups</a></li>
							<li><a href="timeline-friends.html" title="">Timeline Friends</a></li>
							<li><a href="timeline-friends2.html" title="">Timeline Friends-2</a></li>
							<li><a href="about.html" title="">Timeline About</a></li>
							<li><a href="blog-posts.html" title="">Timeline Blog</a></li>
							<li><a href="friends-birthday.html" title="">Friends' Birthday</a></li>
							<li><a href="newsfeed.html" title="">Newsfeed</a></li>
							<li><a href="search-result.html" title="">Search Result</a></li>
							<li><a href="library.html" title="">Library</a></li>
							<li><a href="library-detail.html" title="">Library Detail</a></li>
							<li><a href="ad-center.html" title="">Ad Center</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-heart"></i> Favourit Page</a>
						<ul class="submenu">
							<li><a href="fav-page.html" title="">Favourit Page</a></li>
							<li><a href="games.html" title="">Games</a></li>
							<li><a href="fav-favers.html" title="">Fav Page Likers</a></li>
							<li><a href="fav-events.html" title="">Fav Events</a></li>
							<li><a href="fav-event-invitations.html" title="">Fav Event Invitations</a></li>
							<li><a href="event-calendar.html" title="">Event Calendar</a></li>
							<li><a href="fav-page-create.html" title="">Create New Page</a></li>
							<li><a href="price-plans.html" title="">Price Plan</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-brands fa-forumbee"></i> Forum</a>
						<ul class="submenu">
							<li><a href="forum.html" title="">Forum</a></li>
							<li><a href="forum-create-topic.html" title="">Forum Create Topic</a></li>
							<li><a href="forum-open-topic.html" title="">Forum Open Topic</a></li>
							<li><a href="forums-category.html" title="">Forum Category</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-star-christmas"></i> Featured</a>
						<ul class="submenu">
							<li><a href="chat-messenger.html" title="">Messenger (Chatting)</a></li>
							<li><a href="notifications.html" title="">Notifications</a></li>
							<li><a href="badges.html" title="">Badges</a></li>
							<li><a href="faq.html" title="">Faq's</a></li>
							<li><a href="contribution.html" title="">Contriburion Page</a></li>
							<li><a href="manage-page.html" title="">Manage Page</a></li>
							<li><a href="weather-forecast.html" title="">weather-forecast</a></li>
							<li><a href="statistics.html" title="">Statics/Analytics</a></li>
							<li><a href="shop-cart.html" title="">Shop Cart</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-sliders"></i> Account Setting</a>
						<ul class="submenu">
							<li><a href="setting.html" title="">Setting</a></li>
							<li><a href="privacy.html" title="">Privacy</a></li>
							<li><a href="support-and-help.html" title="">Support & Help</a></li>
							<li><a href="support-and-help-detail.html" title="">Support Detail</a></li>
							<li><a href="support-and-help-search-result.html" title="">Support Search</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-lock"></i> Authentication</a>
						<ul class="submenu">
							<li><a href="login.html" title="">Login Page</a></li>
							<li><a href="register.html" title="">User Register</a></li>
							<li><a href="register2.html" title="">User Register2</a></li>
							<li><a href="logout.html" title="">Logout Page</a></li>
							<li><a href="coming-soon.html" title="">Coming Soon</a></li>
							<li><a href="error-404.html" title="">Error 404</a></li>
							<li><a href="error-404-2.html" title="">Error 404-2</a></li>
							<li><a href="error-500.html" title="">Error 500</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a class="" href="#" title=""><i class="fa-regular fa-gear"></i>Tools</a>
						<ul class="submenu">
							<li><a href="typography.html" title="">Typography</a></li>
							<li><a href="popup-modals.html" title="">Popups/Modals</a></li>
							<li><a href="post-versions.html" title="">Post Versions</a></li>
							<li><a href="sliders.html" title="">Sliders</a></li>
							<li><a href="google-map.html" title="">Google Maps</a></li>
							<li><a href="widgets.html" title="">Widgets</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- left sidebar menu -->

		<section>
			<div class="gap2 gray-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="row merged20" id="page-contents">
								<div class="user-profile">
									<figure>
										<div class="edit-pp">
											<label class="fileContainer">
												<i class="fa fa-camera"></i>
												<input type="file">
											</label>
										</div>
										<img src="@Model.BackgroundImage">
										<ul class="profile-controls">
											<li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
											<li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
											<li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i class="fa fa-comment"></i></a></li>
											<li>
												<div class="edit-seting" title="Edit Profile image">
													<i class="fa fa-sliders"></i>
													<ul class="more-dropdown">
														<li><a href="setting.html" title="">Update Profile Photo</a></li>
														<li><a href="setting.html" title="">Update Header Photo</a></li>
														<li><a href="setting.html" title="">Account Settings</a></li>
														<li><a href="support-and-help.html" title="">Find Support</a></li>
														<li><a class="bad-report" href="#" title="">Report Profile</a></li>
														<li><a href="#" title="">Block Profile</a></li>
													</ul>
												</div>
											</li>
										</ul>
										<ol class="pit-rate">
											<li class="rated"><i class="fa fa-star"></i></li>
											<li class="rated"><i class="fa fa-star"></i></li>
											<li class="rated"><i class="fa fa-star"></i></li>
											<li class="rated"><i class="fa fa-star"></i></li>
											<li class=""><i class="fa fa-star"></i></li>
											<li><span>4.7/5</span></li>
										</ol>
									</figure>

									<div class="profile-section">
										<div class="row">
											<div class="col-lg-2 col-md-3">
												<div class="profile-author">
													<div class="profile-author-thumb">
														<img src="@Model.Image" alt="User Profile Image" class="profile-image" />														<div class="edit-dp">
															<label class="fileContainer">
																<i class="fa fa-camera"></i>
																<input type="file">
															</label>
														</div>
													</div>

													<div class="author-content">
														<a class="h4 author-name" href="about.html">@Model.FullName</a>
														<div class="country">Cần Thơ</div>
													</div>
												</div>
											</div>
											<div class="col-lg-10 col-md-9">
												<ul class="profile-menu">
													<li>
														<a class="" href="timeline.html">Dòng Thời Gian</a>
													</li>
													<li>
														<a class="active" href="about.html">Giới Thiệu</a>
													</li>
													<li>
														<a class="" href="timeline-friends.html">Bạn Bè</a>
													</li>
													<li>
														<a class="" href="timeline-photos.html">Ảnh</a>
													</li>
													<li>
														<a class="" href="timeline-videos.html">Video</a>
													</li>
													<li>
														<div class="more">
															<i class="fa fa-ellipsis-h"></i>
															<ul class="more-dropdown">
																<li>
																	<a href="timeline-groups.html">Nhóm Hồ Sơ</a>
																</li>
																<li>
																	<a href="statistics.html">Phân Tích Hồ Sơ</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
												<ol class="folw-detail">
													<li><span>Bài Viết</span><ins>101</ins></li>
												</ol>
											</div>

										</div>
									</div>
								</div><!-- user profile banner  -->


								<div class="col-lg-4 col-md-4">
									<aside class="sidebar">
										<div class="central-meta stick-widget">
											<span class="create-post">Thông tin cá nhân</span>
											<div class="personal-head">
												<span class="f-title"><i class="fa fa-user"></i> Giới thiệu về tôi:</span>
												<p>
													Xin Chào, @Model.FullName
												</p>
												<span class="f-title"><i class="fa fa-birthday-cake"></i> Ngày Sinh:</span>
												<p>
													@Model.Birth.ToString("dd/MM/yyyy") <!-- Nếu Birth là null thì không hiển thị -->
												</p>
												<span class="f-title"><i class="fa fa-phone"></i> Số điện thoại:</span>
												<p>
													@Model.PhoneNumber
												</p>
												<span class="f-title"><i class="fa fa-male"></i> Giới tính:</span>
												<p>
													@(Model.Gender ? "Nam" : "Nữ")
												</p>
												<span class="f-title"><i class="fa fa-envelope"></i> Email:</span>
												<p>
													@Model.Email
												</p>
											</div>
										</div>
									</aside>
								</div>



								@* <div class="profile-container">
									<h2>Thông tin người dùng</h2>
									<div class="profile-details">
										<p><strong>Họ và tên:</strong> @Model.FullName</p>
										<p><strong>Email:</strong> @Model.Email</p>
										<p><strong>Số điện thoại:</strong> @Model.PhoneNumber</p>
										<p><strong>Ngày sinh:</strong> @Model.Birth.ToString("dd/MM/yyyy")</p>
										<p><strong>Địa chỉ:</strong> @Model.Address</p>
										<p><strong>Giới tính:</strong> @(Model.Gender ? "Nam" : "Nữ")</p>
										<p><strong>Số dư tài khoản:</strong> @Model.Balance.ToString("C")</p>

										<!-- Hiển thị hình ảnh người dùng nếu có -->
										@if (!string.IsNullOrEmpty(Model.Image))
										{
											<img src="@Model.Image" alt="User Profile Image" class="profile-image" />
										}
									</div>
								</div> *@




								<div class="col-lg-8 col-md-8">
									<div class="central-meta">
										<span class="create-post">General Info<a href="#" title="">See All</a></span>
										<div class="row">
											<div class="col-lg-6">
												<div class="gen-metabox">
													<span><i class="fa fa-puzzle-piece"></i> Sở Thích</span>
													<p>
														Tôi thích đạp xe, bơi lội và tập thể dục. Tôi cũng thích đọc các tạp chí thiết kế, tìm kiếm trên internet, và đặc biệt là xem phim Hollywood khi trời mưa ngoài kia.
													</p>
												</div>
												<div class="gen-metabox">
													<span><i class="fa fa-plus"></i> Sở Thích Khác</span>
													<p>
														Bơi lội, Lướt sóng, Lặn biển, Anime, Nhiếp ảnh, Xăm, Nghệ thuật đường phố.
													</p>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="gen-metabox">
													<span><i class="fa fa-mortar-board"></i> Học Vấn</span>
													<p>
														Tôi tốt nghiệp Đại học XYZ với chuyên ngành Thiết Kế Đồ Họa vào năm 2010. Sau đó, tôi đã tham gia các khóa học nâng cao về thiết kế UX/UI và tiếp tục học hỏi các kỹ năng mới.
													</p>
												</div>
												<div class="gen-metabox">
													<span><i class="fa fa-briefcase"></i> Kinh Nghiệm Làm Việc</span>
													<p>
														Tôi đã làm việc 6 năm trong lĩnh vực thiết kế kỹ thuật số và hiện đang làm việc tại công ty "dewwater" ở Ontario, Canada.
													</p>
												</div>
											</div>
										</div>
									</div>					
									<div class="central-meta">
										<span class="create-post">Friend's (320) <a href="timeline-friends2.html" title="">See All</a></span>
										<ul class="frndz-list">
											<li>
												<img src="images/resources/recent1.jpg" alt="">
												<div class="sugtd-frnd-meta">
													<a href="#" title="">Olivia</a>
													<span>1 mutual friend</span>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
														<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
													</ul>
												</div>
											</li>
											<li>
												<img src="images/resources/recent2.jpg" alt="">
												<div class="sugtd-frnd-meta">
													<a href="#" title="">Emma watson</a>
													<span>2 mutual friend</span>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
														<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
													</ul>
												</div>
											</li>
											<li>
												<img src="images/resources/recent3.jpg" alt="">
												<div class="sugtd-frnd-meta">
													<a href="#" title="">Isabella</a>
													<span><a href="#" title="">Emmy</a> is mutual friend</span>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
														<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
													</ul>
												</div>
											</li>
											<li>
												<img src="images/resources/recent4.jpg" alt="">
												<div class="sugtd-frnd-meta">
													<a href="#" title="">Amelia</a>
													<span>5 mutual friend</span>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
														<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
													</ul>
												</div>
											</li>
											<li>
												<img src="images/resources/recent5.jpg" alt="">
												<div class="sugtd-frnd-meta">
													<a href="#" title="">Sophia</a>
													<span>1 mutual friend</span>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
														<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
													</ul>
												</div>
											</li>
											<li>
												<img src="images/resources/recent6.jpg" alt="">
												<div class="sugtd-frnd-meta">
													<a href="#" title="">Amelia</a>
													<span>3 mutual friend</span>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
														<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div><!-- friends list -->

									@* <div class="central-meta item" style="display: inline-block;">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="images/resources/nearly1.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><svg class="svg-inline--fa fa-pencil-square-o" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pencil-square-o" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><g><path fill="currentColor" test="2" d="M156.5,447.7l-12.6,29.5c-18.7-9.5-35.9-21.2-51.5-34.9l22.7-22.7C127.6,430.5,141.5,440,156.5,447.7z M40.6,272H8.5 c1.4,21.2,5.4,41.7,11.7,61.1L50,321.2C45.1,305.5,41.8,289,40.6,272z M40.6,240c1.4-18.8,5.2-37,11.1-54.1l-29.5-12.6 C14.7,194.3,10,216.7,8.5,240H40.6z M64.3,156.5c7.8-14.9,17.2-28.8,28.1-41.5L69.7,92.3c-13.7,15.6-25.5,32.8-34.9,51.5 L64.3,156.5z M397,419.6c-13.9,12-29.4,22.3-46.1,30.4l11.9,29.8c20.7-9.9,39.8-22.6,56.9-37.6L397,419.6z M115,92.4 c13.9-12,29.4-22.3,46.1-30.4l-11.9-29.8c-20.7,9.9-39.8,22.6-56.8,37.6L115,92.4z M447.7,355.5c-7.8,14.9-17.2,28.8-28.1,41.5 l22.7,22.7c13.7-15.6,25.5-32.9,34.9-51.5L447.7,355.5z M471.4,272c-1.4,18.8-5.2,37-11.1,54.1l29.5,12.6 c7.5-21.1,12.2-43.5,13.6-66.8H471.4z M321.2,462c-15.7,5-32.2,8.2-49.2,9.4v32.1c21.2-1.4,41.7-5.4,61.1-11.7L321.2,462z M240,471.4c-18.8-1.4-37-5.2-54.1-11.1l-12.6,29.5c21.1,7.5,43.5,12.2,66.8,13.6V471.4z M462,190.8c5,15.7,8.2,32.2,9.4,49.2h32.1 c-1.4-21.2-5.4-41.7-11.7-61.1L462,190.8z M92.4,397c-12-13.9-22.3-29.4-30.4-46.1l-29.8,11.9c9.9,20.7,22.6,39.8,37.6,56.9 L92.4,397z M272,40.6c18.8,1.4,36.9,5.2,54.1,11.1l12.6-29.5C317.7,14.7,295.3,10,272,8.5V40.6z M190.8,50 c15.7-5,32.2-8.2,49.2-9.4V8.5c-21.2,1.4-41.7,5.4-61.1,11.7L190.8,50z M442.3,92.3L419.6,115c12,13.9,22.3,29.4,30.5,46.1 l29.8-11.9C470,128.5,457.3,109.4,442.3,92.3z M397,92.4l22.7-22.7c-15.6-13.7-32.8-25.5-51.5-34.9l-12.6,29.5 C370.4,72.1,384.4,81.5,397,92.4z"></path><circle fill="currentColor" test="2" cx="256" cy="364" r="28"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="r" values="28;14;28;28;14;28;"></animate><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;1;1;0;1;"></animate></circle><path fill="currentColor" test="2" opacity="1" d="M263.7,312h-16c-6.6,0-12-5.4-12-12c0-71,77.4-63.9,77.4-107.8c0-20-17.8-40.2-57.4-40.2c-29.1,0-44.3,9.6-59.2,28.7 c-3.9,5-11.1,6-16.2,2.4l-13.1-9.2c-5.6-3.9-6.9-11.8-2.6-17.2c21.2-27.2,46.4-44.7,91.2-44.7c52.3,0,97.4,29.8,97.4,80.2 c0,67.6-77.4,63.5-77.4,107.8C275.7,306.6,270.3,312,263.7,312z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;0;0;0;1;"></animate></path><path fill="currentColor" test="2" opacity="0" d="M232.5,134.5l7,168c0.3,6.4,5.6,11.5,12,11.5h9c6.4,0,11.7-5.1,12-11.5l7-168c0.3-6.8-5.2-12.5-12-12.5h-23 C237.7,122,232.2,127.7,232.5,134.5z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="0;0;1;1;0;0;"></animate></path></g></svg><!-- <i class="fa fa-pencil-square-o"></i> -->Edit Post</li>
																<li><svg class="svg-inline--fa fa-trash-o" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-o" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><g><path fill="currentColor" test="2" d="M156.5,447.7l-12.6,29.5c-18.7-9.5-35.9-21.2-51.5-34.9l22.7-22.7C127.6,430.5,141.5,440,156.5,447.7z M40.6,272H8.5 c1.4,21.2,5.4,41.7,11.7,61.1L50,321.2C45.1,305.5,41.8,289,40.6,272z M40.6,240c1.4-18.8,5.2-37,11.1-54.1l-29.5-12.6 C14.7,194.3,10,216.7,8.5,240H40.6z M64.3,156.5c7.8-14.9,17.2-28.8,28.1-41.5L69.7,92.3c-13.7,15.6-25.5,32.8-34.9,51.5 L64.3,156.5z M397,419.6c-13.9,12-29.4,22.3-46.1,30.4l11.9,29.8c20.7-9.9,39.8-22.6,56.9-37.6L397,419.6z M115,92.4 c13.9-12,29.4-22.3,46.1-30.4l-11.9-29.8c-20.7,9.9-39.8,22.6-56.8,37.6L115,92.4z M447.7,355.5c-7.8,14.9-17.2,28.8-28.1,41.5 l22.7,22.7c13.7-15.6,25.5-32.9,34.9-51.5L447.7,355.5z M471.4,272c-1.4,18.8-5.2,37-11.1,54.1l29.5,12.6 c7.5-21.1,12.2-43.5,13.6-66.8H471.4z M321.2,462c-15.7,5-32.2,8.2-49.2,9.4v32.1c21.2-1.4,41.7-5.4,61.1-11.7L321.2,462z M240,471.4c-18.8-1.4-37-5.2-54.1-11.1l-12.6,29.5c21.1,7.5,43.5,12.2,66.8,13.6V471.4z M462,190.8c5,15.7,8.2,32.2,9.4,49.2h32.1 c-1.4-21.2-5.4-41.7-11.7-61.1L462,190.8z M92.4,397c-12-13.9-22.3-29.4-30.4-46.1l-29.8,11.9c9.9,20.7,22.6,39.8,37.6,56.9 L92.4,397z M272,40.6c18.8,1.4,36.9,5.2,54.1,11.1l12.6-29.5C317.7,14.7,295.3,10,272,8.5V40.6z M190.8,50 c15.7-5,32.2-8.2,49.2-9.4V8.5c-21.2,1.4-41.7,5.4-61.1,11.7L190.8,50z M442.3,92.3L419.6,115c12,13.9,22.3,29.4,30.5,46.1 l29.8-11.9C470,128.5,457.3,109.4,442.3,92.3z M397,92.4l22.7-22.7c-15.6-13.7-32.8-25.5-51.5-34.9l-12.6,29.5 C370.4,72.1,384.4,81.5,397,92.4z"></path><circle fill="currentColor" test="2" cx="256" cy="364" r="28"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="r" values="28;14;28;28;14;28;"></animate><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;1;1;0;1;"></animate></circle><path fill="currentColor" test="2" opacity="1" d="M263.7,312h-16c-6.6,0-12-5.4-12-12c0-71,77.4-63.9,77.4-107.8c0-20-17.8-40.2-57.4-40.2c-29.1,0-44.3,9.6-59.2,28.7 c-3.9,5-11.1,6-16.2,2.4l-13.1-9.2c-5.6-3.9-6.9-11.8-2.6-17.2c21.2-27.2,46.4-44.7,91.2-44.7c52.3,0,97.4,29.8,97.4,80.2 c0,67.6-77.4,63.5-77.4,107.8C275.7,306.6,270.3,312,263.7,312z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;0;0;0;1;"></animate></path><path fill="currentColor" test="2" opacity="0" d="M232.5,134.5l7,168c0.3,6.4,5.6,11.5,12,11.5h9c6.4,0,11.7-5.1,12-11.5l7-168c0.3-6.8-5.2-12.5-12-12.5h-23 C237.7,122,232.2,127.7,232.5,134.5z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="0;0;1;1;0;0;"></animate></path></g></svg><!-- <i class="fa fa-trash-o"></i> -->Delete Post</li>
																<li class="bad-report"><svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="flag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 496C64 504.8 56.75 512 48 512h-32C7.25 512 0 504.8 0 496V32c0-17.75 14.25-32 32-32s32 14.25 32 32V496zM476.3 0c-6.365 0-13.01 1.35-19.34 4.233c-45.69 20.86-79.56 27.94-107.8 27.94c-59.96 0-94.81-31.86-163.9-31.87C160.9 .3055 131.6 4.867 96 15.75v350.5c32-9.984 59.87-14.1 84.85-14.1c73.63 0 124.9 31.78 198.6 31.78c31.91 0 68.02-5.971 111.1-23.09C504.1 355.9 512 344.4 512 332.1V30.73C512 11.1 495.3 0 476.3 0z"></path></svg><!-- <i class="fa fa-flag"></i> -->Report Post</li>
																<li><svg class="svg-inline--fa fa-address-card-o" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="address-card-o" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><g><path fill="currentColor" test="2" d="M156.5,447.7l-12.6,29.5c-18.7-9.5-35.9-21.2-51.5-34.9l22.7-22.7C127.6,430.5,141.5,440,156.5,447.7z M40.6,272H8.5 c1.4,21.2,5.4,41.7,11.7,61.1L50,321.2C45.1,305.5,41.8,289,40.6,272z M40.6,240c1.4-18.8,5.2-37,11.1-54.1l-29.5-12.6 C14.7,194.3,10,216.7,8.5,240H40.6z M64.3,156.5c7.8-14.9,17.2-28.8,28.1-41.5L69.7,92.3c-13.7,15.6-25.5,32.8-34.9,51.5 L64.3,156.5z M397,419.6c-13.9,12-29.4,22.3-46.1,30.4l11.9,29.8c20.7-9.9,39.8-22.6,56.9-37.6L397,419.6z M115,92.4 c13.9-12,29.4-22.3,46.1-30.4l-11.9-29.8c-20.7,9.9-39.8,22.6-56.8,37.6L115,92.4z M447.7,355.5c-7.8,14.9-17.2,28.8-28.1,41.5 l22.7,22.7c13.7-15.6,25.5-32.9,34.9-51.5L447.7,355.5z M471.4,272c-1.4,18.8-5.2,37-11.1,54.1l29.5,12.6 c7.5-21.1,12.2-43.5,13.6-66.8H471.4z M321.2,462c-15.7,5-32.2,8.2-49.2,9.4v32.1c21.2-1.4,41.7-5.4,61.1-11.7L321.2,462z M240,471.4c-18.8-1.4-37-5.2-54.1-11.1l-12.6,29.5c21.1,7.5,43.5,12.2,66.8,13.6V471.4z M462,190.8c5,15.7,8.2,32.2,9.4,49.2h32.1 c-1.4-21.2-5.4-41.7-11.7-61.1L462,190.8z M92.4,397c-12-13.9-22.3-29.4-30.4-46.1l-29.8,11.9c9.9,20.7,22.6,39.8,37.6,56.9 L92.4,397z M272,40.6c18.8,1.4,36.9,5.2,54.1,11.1l12.6-29.5C317.7,14.7,295.3,10,272,8.5V40.6z M190.8,50 c15.7-5,32.2-8.2,49.2-9.4V8.5c-21.2,1.4-41.7,5.4-61.1,11.7L190.8,50z M442.3,92.3L419.6,115c12,13.9,22.3,29.4,30.5,46.1 l29.8-11.9C470,128.5,457.3,109.4,442.3,92.3z M397,92.4l22.7-22.7c-15.6-13.7-32.8-25.5-51.5-34.9l-12.6,29.5 C370.4,72.1,384.4,81.5,397,92.4z"></path><circle fill="currentColor" test="2" cx="256" cy="364" r="28"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="r" values="28;14;28;28;14;28;"></animate><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;1;1;0;1;"></animate></circle><path fill="currentColor" test="2" opacity="1" d="M263.7,312h-16c-6.6,0-12-5.4-12-12c0-71,77.4-63.9,77.4-107.8c0-20-17.8-40.2-57.4-40.2c-29.1,0-44.3,9.6-59.2,28.7 c-3.9,5-11.1,6-16.2,2.4l-13.1-9.2c-5.6-3.9-6.9-11.8-2.6-17.2c21.2-27.2,46.4-44.7,91.2-44.7c52.3,0,97.4,29.8,97.4,80.2 c0,67.6-77.4,63.5-77.4,107.8C275.7,306.6,270.3,312,263.7,312z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;0;0;0;1;"></animate></path><path fill="currentColor" test="2" opacity="0" d="M232.5,134.5l7,168c0.3,6.4,5.6,11.5,12,11.5h9c6.4,0,11.7-5.1,12-11.5l7-168c0.3-6.8-5.2-12.5-12-12.5h-23 C237.7,122,232.2,127.7,232.5,134.5z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="0;0;1;1;0;0;"></animate></path></g></svg><!-- <i class="fa fa-address-card-o"></i> -->Boost This Post</li>
																<li><svg class="svg-inline--fa fa-clock-o" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock-o" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><g><path fill="currentColor" test="2" d="M156.5,447.7l-12.6,29.5c-18.7-9.5-35.9-21.2-51.5-34.9l22.7-22.7C127.6,430.5,141.5,440,156.5,447.7z M40.6,272H8.5 c1.4,21.2,5.4,41.7,11.7,61.1L50,321.2C45.1,305.5,41.8,289,40.6,272z M40.6,240c1.4-18.8,5.2-37,11.1-54.1l-29.5-12.6 C14.7,194.3,10,216.7,8.5,240H40.6z M64.3,156.5c7.8-14.9,17.2-28.8,28.1-41.5L69.7,92.3c-13.7,15.6-25.5,32.8-34.9,51.5 L64.3,156.5z M397,419.6c-13.9,12-29.4,22.3-46.1,30.4l11.9,29.8c20.7-9.9,39.8-22.6,56.9-37.6L397,419.6z M115,92.4 c13.9-12,29.4-22.3,46.1-30.4l-11.9-29.8c-20.7,9.9-39.8,22.6-56.8,37.6L115,92.4z M447.7,355.5c-7.8,14.9-17.2,28.8-28.1,41.5 l22.7,22.7c13.7-15.6,25.5-32.9,34.9-51.5L447.7,355.5z M471.4,272c-1.4,18.8-5.2,37-11.1,54.1l29.5,12.6 c7.5-21.1,12.2-43.5,13.6-66.8H471.4z M321.2,462c-15.7,5-32.2,8.2-49.2,9.4v32.1c21.2-1.4,41.7-5.4,61.1-11.7L321.2,462z M240,471.4c-18.8-1.4-37-5.2-54.1-11.1l-12.6,29.5c21.1,7.5,43.5,12.2,66.8,13.6V471.4z M462,190.8c5,15.7,8.2,32.2,9.4,49.2h32.1 c-1.4-21.2-5.4-41.7-11.7-61.1L462,190.8z M92.4,397c-12-13.9-22.3-29.4-30.4-46.1l-29.8,11.9c9.9,20.7,22.6,39.8,37.6,56.9 L92.4,397z M272,40.6c18.8,1.4,36.9,5.2,54.1,11.1l12.6-29.5C317.7,14.7,295.3,10,272,8.5V40.6z M190.8,50 c15.7-5,32.2-8.2,49.2-9.4V8.5c-21.2,1.4-41.7,5.4-61.1,11.7L190.8,50z M442.3,92.3L419.6,115c12,13.9,22.3,29.4,30.5,46.1 l29.8-11.9C470,128.5,457.3,109.4,442.3,92.3z M397,92.4l22.7-22.7c-15.6-13.7-32.8-25.5-51.5-34.9l-12.6,29.5 C370.4,72.1,384.4,81.5,397,92.4z"></path><circle fill="currentColor" test="2" cx="256" cy="364" r="28"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="r" values="28;14;28;28;14;28;"></animate><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;1;1;0;1;"></animate></circle><path fill="currentColor" test="2" opacity="1" d="M263.7,312h-16c-6.6,0-12-5.4-12-12c0-71,77.4-63.9,77.4-107.8c0-20-17.8-40.2-57.4-40.2c-29.1,0-44.3,9.6-59.2,28.7 c-3.9,5-11.1,6-16.2,2.4l-13.1-9.2c-5.6-3.9-6.9-11.8-2.6-17.2c21.2-27.2,46.4-44.7,91.2-44.7c52.3,0,97.4,29.8,97.4,80.2 c0,67.6-77.4,63.5-77.4,107.8C275.7,306.6,270.3,312,263.7,312z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;0;0;0;1;"></animate></path><path fill="currentColor" test="2" opacity="0" d="M232.5,134.5l7,168c0.3,6.4,5.6,11.5,12,11.5h9c6.4,0,11.7-5.1,12-11.5l7-168c0.3-6.8-5.2-12.5-12-12.5h-23 C237.7,122,232.2,127.7,232.5,134.5z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="0;0;1;1;0;0;"></animate></path></g></svg><!-- <i class="fa fa-clock-o"></i> -->Schedule Post</li>
																<li><svg class="svg-inline--fa fa-wpexplorer" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="wpexplorer" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><g><path fill="currentColor" test="2" d="M156.5,447.7l-12.6,29.5c-18.7-9.5-35.9-21.2-51.5-34.9l22.7-22.7C127.6,430.5,141.5,440,156.5,447.7z M40.6,272H8.5 c1.4,21.2,5.4,41.7,11.7,61.1L50,321.2C45.1,305.5,41.8,289,40.6,272z M40.6,240c1.4-18.8,5.2-37,11.1-54.1l-29.5-12.6 C14.7,194.3,10,216.7,8.5,240H40.6z M64.3,156.5c7.8-14.9,17.2-28.8,28.1-41.5L69.7,92.3c-13.7,15.6-25.5,32.8-34.9,51.5 L64.3,156.5z M397,419.6c-13.9,12-29.4,22.3-46.1,30.4l11.9,29.8c20.7-9.9,39.8-22.6,56.9-37.6L397,419.6z M115,92.4 c13.9-12,29.4-22.3,46.1-30.4l-11.9-29.8c-20.7,9.9-39.8,22.6-56.8,37.6L115,92.4z M447.7,355.5c-7.8,14.9-17.2,28.8-28.1,41.5 l22.7,22.7c13.7-15.6,25.5-32.9,34.9-51.5L447.7,355.5z M471.4,272c-1.4,18.8-5.2,37-11.1,54.1l29.5,12.6 c7.5-21.1,12.2-43.5,13.6-66.8H471.4z M321.2,462c-15.7,5-32.2,8.2-49.2,9.4v32.1c21.2-1.4,41.7-5.4,61.1-11.7L321.2,462z M240,471.4c-18.8-1.4-37-5.2-54.1-11.1l-12.6,29.5c21.1,7.5,43.5,12.2,66.8,13.6V471.4z M462,190.8c5,15.7,8.2,32.2,9.4,49.2h32.1 c-1.4-21.2-5.4-41.7-11.7-61.1L462,190.8z M92.4,397c-12-13.9-22.3-29.4-30.4-46.1l-29.8,11.9c9.9,20.7,22.6,39.8,37.6,56.9 L92.4,397z M272,40.6c18.8,1.4,36.9,5.2,54.1,11.1l12.6-29.5C317.7,14.7,295.3,10,272,8.5V40.6z M190.8,50 c15.7-5,32.2-8.2,49.2-9.4V8.5c-21.2,1.4-41.7,5.4-61.1,11.7L190.8,50z M442.3,92.3L419.6,115c12,13.9,22.3,29.4,30.5,46.1 l29.8-11.9C470,128.5,457.3,109.4,442.3,92.3z M397,92.4l22.7-22.7c-15.6-13.7-32.8-25.5-51.5-34.9l-12.6,29.5 C370.4,72.1,384.4,81.5,397,92.4z"></path><circle fill="currentColor" test="2" cx="256" cy="364" r="28"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="r" values="28;14;28;28;14;28;"></animate><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;1;1;0;1;"></animate></circle><path fill="currentColor" test="2" opacity="1" d="M263.7,312h-16c-6.6,0-12-5.4-12-12c0-71,77.4-63.9,77.4-107.8c0-20-17.8-40.2-57.4-40.2c-29.1,0-44.3,9.6-59.2,28.7 c-3.9,5-11.1,6-16.2,2.4l-13.1-9.2c-5.6-3.9-6.9-11.8-2.6-17.2c21.2-27.2,46.4-44.7,91.2-44.7c52.3,0,97.4,29.8,97.4,80.2 c0,67.6-77.4,63.5-77.4,107.8C275.7,306.6,270.3,312,263.7,312z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;0;0;0;1;"></animate></path><path fill="currentColor" test="2" opacity="0" d="M232.5,134.5l7,168c0.3,6.4,5.6,11.5,12,11.5h9c6.4,0,11.7-5.1,12-11.5l7-168c0.3-6.8-5.2-12.5-12-12.5h-23 C237.7,122,232.2,127.7,232.5,134.5z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="0;0;1;1;0;0;"></animate></path></g></svg><!-- <i class="fa fa-wpexplorer"></i> -->Select as featured</li>
																<li><svg class="svg-inline--fa fa-bell-slash-o" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell-slash-o" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><g><path fill="currentColor" test="2" d="M156.5,447.7l-12.6,29.5c-18.7-9.5-35.9-21.2-51.5-34.9l22.7-22.7C127.6,430.5,141.5,440,156.5,447.7z M40.6,272H8.5 c1.4,21.2,5.4,41.7,11.7,61.1L50,321.2C45.1,305.5,41.8,289,40.6,272z M40.6,240c1.4-18.8,5.2-37,11.1-54.1l-29.5-12.6 C14.7,194.3,10,216.7,8.5,240H40.6z M64.3,156.5c7.8-14.9,17.2-28.8,28.1-41.5L69.7,92.3c-13.7,15.6-25.5,32.8-34.9,51.5 L64.3,156.5z M397,419.6c-13.9,12-29.4,22.3-46.1,30.4l11.9,29.8c20.7-9.9,39.8-22.6,56.9-37.6L397,419.6z M115,92.4 c13.9-12,29.4-22.3,46.1-30.4l-11.9-29.8c-20.7,9.9-39.8,22.6-56.8,37.6L115,92.4z M447.7,355.5c-7.8,14.9-17.2,28.8-28.1,41.5 l22.7,22.7c13.7-15.6,25.5-32.9,34.9-51.5L447.7,355.5z M471.4,272c-1.4,18.8-5.2,37-11.1,54.1l29.5,12.6 c7.5-21.1,12.2-43.5,13.6-66.8H471.4z M321.2,462c-15.7,5-32.2,8.2-49.2,9.4v32.1c21.2-1.4,41.7-5.4,61.1-11.7L321.2,462z M240,471.4c-18.8-1.4-37-5.2-54.1-11.1l-12.6,29.5c21.1,7.5,43.5,12.2,66.8,13.6V471.4z M462,190.8c5,15.7,8.2,32.2,9.4,49.2h32.1 c-1.4-21.2-5.4-41.7-11.7-61.1L462,190.8z M92.4,397c-12-13.9-22.3-29.4-30.4-46.1l-29.8,11.9c9.9,20.7,22.6,39.8,37.6,56.9 L92.4,397z M272,40.6c18.8,1.4,36.9,5.2,54.1,11.1l12.6-29.5C317.7,14.7,295.3,10,272,8.5V40.6z M190.8,50 c15.7-5,32.2-8.2,49.2-9.4V8.5c-21.2,1.4-41.7,5.4-61.1,11.7L190.8,50z M442.3,92.3L419.6,115c12,13.9,22.3,29.4,30.5,46.1 l29.8-11.9C470,128.5,457.3,109.4,442.3,92.3z M397,92.4l22.7-22.7c-15.6-13.7-32.8-25.5-51.5-34.9l-12.6,29.5 C370.4,72.1,384.4,81.5,397,92.4z"></path><circle fill="currentColor" test="2" cx="256" cy="364" r="28"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="r" values="28;14;28;28;14;28;"></animate><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;1;1;0;1;"></animate></circle><path fill="currentColor" test="2" opacity="1" d="M263.7,312h-16c-6.6,0-12-5.4-12-12c0-71,77.4-63.9,77.4-107.8c0-20-17.8-40.2-57.4-40.2c-29.1,0-44.3,9.6-59.2,28.7 c-3.9,5-11.1,6-16.2,2.4l-13.1-9.2c-5.6-3.9-6.9-11.8-2.6-17.2c21.2-27.2,46.4-44.7,91.2-44.7c52.3,0,97.4,29.8,97.4,80.2 c0,67.6-77.4,63.5-77.4,107.8C275.7,306.6,270.3,312,263.7,312z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="1;0;0;0;0;1;"></animate></path><path fill="currentColor" test="2" opacity="0" d="M232.5,134.5l7,168c0.3,6.4,5.6,11.5,12,11.5h9c6.4,0,11.7-5.1,12-11.5l7-168c0.3-6.8-5.2-12.5-12-12.5h-23 C237.7,122,232.2,127.7,232.5,134.5z"><animate attributeType="XML" repeatCount="indefinite" dur="2s" attributeName="opacity" values="0;0;1;1;0;0;"></animate></path></g></svg><!-- <i class="fa fa-bell-slash-o"></i> -->Turn off Notifications</li>
															</ul>
														</div>
													</div>
													<ins><a href="time-line.html" title="">Jack Carter</a> share <a href="#" title="">link</a></ins>
													<span><svg class="svg-inline--fa fa-globe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M186.8 26.24C119.1 46.6 64.08 96.01 36.1 160h99.97C145.7 104.1 163.6 57.44 186.8 26.24zM160 256c0 22.55 1.277 43.86 3.623 64h184.8c2.346-20.14 3.623-41.45 3.623-64s-1.277-43.86-3.623-64H163.6C161.3 212.1 160 233.5 160 256zM343.6 160c-16.25-88.04-53.37-144-87.57-144S184.7 71.96 168.4 160H343.6zM475.9 160c-27.98-63.99-83-113.4-150.7-133.8C348.4 57.44 366.3 104.1 375.9 160H475.9zM325.2 485.8C392.9 465.4 447.9 415.1 475.9 352h-99.97C366.3 407.9 348.4 454.6 325.2 485.8zM487.1 192h-106.6c2.248 20.5 3.485 41.84 3.485 64s-1.237 43.5-3.485 64h106.6c5.641-20.4 8.894-41.8 8.894-64S492.7 212.4 487.1 192zM168.4 352c16.25 88.04 53.37 144 87.57 144s71.32-55.96 87.57-144H168.4zM128 256c0-22.16 1.237-43.5 3.485-64H24.89c-5.641 20.4-8.895 41.8-8.895 64s3.254 43.6 8.895 64H131.5C129.2 299.5 128 278.2 128 256zM36.1 352c27.98 63.99 82.1 113.4 150.7 133.8C163.6 454.6 145.7 407.9 136.1 352H36.1z"></path></svg><!-- <i class="fa fa-globe"></i> --> published: january,5 2010 19:PM </span>
												</div>
												<div class="post-meta">
													<figure>
														<a href="https://www.youtube.com/watch?v=fF382gwEnG8" title="" data-strip-group="mygroup" class="strip vdeo-link" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
														<img src="images/resources/user-post.jpg" alt="">
															<i>
																<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="55px" width="55px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
															  <path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
																C97.3,23.7,75.7,2.3,49.9,2.5"></path>
															  <path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"></path>
																</svg>
															</i>
															<h2>Canada tourist spots you must visit in 2020</h2>
														</a>
														<ul class="like-dislike">
															<li><a class="bg-purple" href="#" title="Save to Pin Post"><svg class="svg-inline--fa fa-thumbtack" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbtack" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M160 456c0 1.25 .2813 2.467 .8438 3.576l24 47.1c2.938 5.891 11.38 5.906 14.31 0l24-47.1C223.6 458.7 224 457 224 456V383.1H160V456zM298 214.3l-12.25-118.3H328c13.25 0 24-10.75 24-23.1V23.1C352 10.75 341.3 0 328 0h-272C42.75 0 32 10.75 32 23.1v47.1C32 85.25 42.75 95.1 56 95.1h42.22L85.97 214.3C37.47 236.8 0 277.3 0 327.1c0 13.25 10.75 23.1 24 23.1h336c13.25 0 24-10.75 24-23.1C384 276.8 346 236.6 298 214.3z"></path></svg><!-- <i class="fa fa-thumb-tack"></i> --></a></li>
															<li><a class="bg-blue" href="#" title="Like Post"><i class="ti-thumb-up"></i></a></li>
															<li><a class="bg-red" href="#" title="dislike Post"><i class="ti-thumb-down"></i></a></li>
														</ul>

													</figure>												
													<div class="description">
														<p>
															Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc.
														</p>
													</div>
													<div class="we-video-info">
														<ul>
															<li>
																<span class="views" title="views">
																	<svg class="svg-inline--fa fa-eye" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.5 238.1C518.3 115.5 410.9 32 288 32S57.69 115.6 3.469 238.1C1.563 243.4 0 251 0 256c0 4.977 1.562 12.6 3.469 17.03C57.72 396.5 165.1 480 288 480s230.3-83.58 284.5-206.1C574.4 268.6 576 260.1 576 256C576 251 574.4 243.4 572.5 238.1zM432 256c0 79.45-64.47 144-143.9 144C208.6 400 144 335.5 144 256S208.5 112 288 112S432 176.5 432 256zM288 160C285.7 160 282.4 160.4 279.5 160.8C284.8 170 288 180.6 288 192c0 35.35-28.65 64-64 64C212.6 256 201.1 252.7 192.7 247.5C192.4 250.5 192 253.6 192 256c0 52.1 43 96 96 96s96-42.99 96-95.99S340.1 160 288 160z"></path></svg><!-- <i class="fa fa-eye"></i> -->
																	<ins>1.2k</ins>
																</span>
															</li>
															<li>
																<div class="likes heart" title="Like/Dislike">❤ <span>2K</span></div>
															</li>
															<li>
																<span class="comment" title="Comments">
																	<svg class="svg-inline--fa fa-comment-dots" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment-dots" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 31.1c-141.4 0-255.1 93.12-255.1 208c0 49.62 21.35 94.98 56.97 130.7c-12.5 50.37-54.27 95.27-54.77 95.77c-2.25 2.25-2.875 5.734-1.5 8.734c1.249 3 4.021 4.766 7.271 4.766c66.25 0 115.1-31.76 140.6-51.39c32.63 12.25 69.02 19.39 107.4 19.39c141.4 0 255.1-93.13 255.1-207.1S397.4 31.1 256 31.1zM127.1 271.1c-17.75 0-32-14.25-32-31.1s14.25-32 32-32s32 14.25 32 32S145.7 271.1 127.1 271.1zM256 271.1c-17.75 0-31.1-14.25-31.1-31.1s14.25-32 31.1-32s31.1 14.25 31.1 32S273.8 271.1 256 271.1zM383.1 271.1c-17.75 0-32-14.25-32-31.1s14.25-32 32-32s32 14.25 32 32S401.7 271.1 383.1 271.1z"></path></svg><!-- <i class="fa fa-commenting"></i> -->
																	<ins>52</ins>
																</span>
															</li>

															<li>
																<span>
																	<a class="share-pst" href="#" title="Share">
																		<svg class="svg-inline--fa fa-share-nodes" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="share-nodes" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M448 384c0 53.02-42.98 96-96 96s-96-42.98-96-96c0-3.984 .7012-7.776 1.174-11.63l-94.68-47.34C145.2 341.7 121.9 352 96 352c-53.02 0-96-42.98-96-96s42.98-96 96-96c25.86 0 49.23 10.34 66.5 26.97l94.68-47.34C256.7 135.8 256 131.1 256 128c0-53.02 42.98-96 96-96s96 42.98 96 96s-42.98 96-96 96c-25.86 0-49.23-10.34-66.5-26.97l-94.68 47.34C191.3 248.2 192 252 192 256S191.3 263.8 190.8 267.6l94.68 47.34C302.8 298.3 326.1 288 352 288C405 288 448 330.1 448 384z"></path></svg><!-- <i class="fa fa-share-alt"></i> -->
																	</a>
																	<ins>20</ins>
																</span>	
															</li>
														</ul>
														<div class="users-thumb-list">
															<a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
																<img alt="" src="images/resources/userlist-1.jpg">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="frank">
																<img alt="" src="images/resources/userlist-2.jpg">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
																<img alt="" src="images/resources/userlist-3.jpg">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
																<img alt="" src="images/resources/userlist-4.jpg">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
																<img alt="" src="images/resources/userlist-5.jpg">  
															</a>
															<span><strong>You</strong>, <b>Sarah</b> and <a href="#" title="">24+ more</a> liked</span>
														</div>
													</div>
												</div>
												<div class="coment-area">
													<ul class="we-comet">
														<li>
															<div class="comet-avatar">
																<img src="images/resources/nearly3.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="time-line.html" title="">Jason borne</a></h5>
																<p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
																<div class="inline-itms">
																	<span>1 year ago</span>
																	<a class="we-reply" href="#" title="Reply"><svg class="svg-inline--fa fa-reply" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="reply" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M8.31 189.9l176-151.1c15.41-13.3 39.69-2.509 39.69 18.16v80.05C384.6 137.9 512 170.1 512 322.3c0 61.44-39.59 122.3-83.34 154.1c-13.66 9.938-33.09-2.531-28.06-18.62c45.34-145-21.5-183.5-176.6-185.8v87.92c0 20.7-24.31 31.45-39.69 18.16l-176-151.1C-2.753 216.6-2.784 199.4 8.31 189.9z"></path></svg><!-- <i class="fa fa-reply"></i> --></a>
																	<a href="#" title=""><svg class="svg-inline--fa fa-heart" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M472.1 270.5l-193.1 199.7c-12.64 13.07-33.27 13.08-45.91 .0107l-193.2-199.7C-16.21 212.5-13.1 116.7 49.04 62.86C103.3 15.88 186.4 24.42 236.3 75.98l19.7 20.27l19.7-20.27c49.95-51.56 132.1-60.1 187.3-13.12C525.1 116.6 528.2 212.5 472.1 270.5z"></path></svg><!-- <i class="fa fa-heart"></i> --><span>20</span></a>
																</div>
															</div>

														</li>
														<li>
															<div class="comet-avatar">
																<img src="images/resources/comet-4.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="time-line.html" title="">Sophia</a></h5>
																<p>we are working for the dance and sing songs. this video is very awesome for the youngster.
																	<i class="em em-smiley"></i>
																</p>
																<div class="inline-itms">
																	<span>1 year ago</span>
																	<a class="we-reply" href="#" title="Reply"><svg class="svg-inline--fa fa-reply" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="reply" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M8.31 189.9l176-151.1c15.41-13.3 39.69-2.509 39.69 18.16v80.05C384.6 137.9 512 170.1 512 322.3c0 61.44-39.59 122.3-83.34 154.1c-13.66 9.938-33.09-2.531-28.06-18.62c45.34-145-21.5-183.5-176.6-185.8v87.92c0 20.7-24.31 31.45-39.69 18.16l-176-151.1C-2.753 216.6-2.784 199.4 8.31 189.9z"></path></svg><!-- <i class="fa fa-reply"></i> --></a>
																	<a href="#" title=""><svg class="svg-inline--fa fa-heart" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M472.1 270.5l-193.1 199.7c-12.64 13.07-33.27 13.08-45.91 .0107l-193.2-199.7C-16.21 212.5-13.1 116.7 49.04 62.86C103.3 15.88 186.4 24.42 236.3 75.98l19.7 20.27l19.7-20.27c49.95-51.56 132.1-60.1 187.3-13.12C525.1 116.6 528.2 212.5 472.1 270.5z"></path></svg><!-- <i class="fa fa-heart"></i> --><span>20</span></a>
																</div>
															</div>
														</li>
														<li>
															<a href="#" title="" class="showmore underline">more comments+</a>
														</li>
														<li class="post-comment">
															<div class="comet-avatar">
																<img src="images/resources/nearly1.jpg" alt="">
															</div>
															<div class="post-comt-box">
																<form method="post">
																	<textarea placeholder="Post your comment"></textarea>
																	<div class="add-smiles">
																		<div class="uploadimage">
																			<svg class="svg-inline--fa fa-image" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M447.1 32h-384C28.64 32-.0091 60.65-.0091 96v320c0 35.35 28.65 64 63.1 64h384c35.35 0 64-28.65 64-64V96C511.1 60.65 483.3 32 447.1 32zM111.1 96c26.51 0 48 21.49 48 48S138.5 192 111.1 192s-48-21.49-48-48S85.48 96 111.1 96zM446.1 407.6C443.3 412.8 437.9 416 432 416H82.01c-6.021 0-11.53-3.379-14.26-8.75c-2.73-5.367-2.215-11.81 1.334-16.68l70-96C142.1 290.4 146.9 288 152 288s9.916 2.441 12.93 6.574l32.46 44.51l93.3-139.1C293.7 194.7 298.7 192 304 192s10.35 2.672 13.31 7.125l128 192C448.6 396 448.9 402.3 446.1 407.6z"></path></svg><!-- <i class="fa fa-image"></i> -->
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		<span class="em em-expressionless" title="add icon"></span>
																		<div class="smiles-bunch">
																			<i class="em em---1"></i>
																			<i class="em em-smiley"></i>
																			<i class="em em-anguished"></i>
																			<i class="em em-laughing"></i>
																			<i class="em em-angry"></i>
																			<i class="em em-astonished"></i>
																			<i class="em em-blush"></i>
																			<i class="em em-disappointed"></i>
																			<i class="em em-worried"></i>
																			<i class="em em-kissing_heart"></i>
																			<i class="em em-rage"></i>
																			<i class="em em-stuck_out_tongue"></i>
																		</div>
																	</div>
																	<button type="submit"></button>
																</form>	
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div> *@


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- content -->

		<a title="Your Cart Items" href="shop-cart.html" class="shopping-cart" data-toggle="tooltip">Cart <i class="fa fa-shopping-bag"></i><span>02</span></a>

		<div class="bottombar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<span class="copyright">© Pitnik 2024. All rights reserved.</span>
						<i><img src="images/credit-cards.png" alt=""></i>
					</div>
				</div>
			</div>
		</div><!-- bottom bar -->
	</div>
	<div class="side-panel">
		<h4 class="panel-title">General Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>use night mode</span>
				<input type="checkbox" id="nightmode1" />
				<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notifications</span>
				<input type="checkbox" id="switch22" />
				<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notification sound</span>
				<input type="checkbox" id="switch33" />
				<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>My profile</span>
				<input type="checkbox" id="switch44" />
				<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show profile</span>
				<input type="checkbox" id="switch55" />
				<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
		<h4 class="panel-title">Account Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>Sub users</span>
				<input type="checkbox" id="switch66" />
				<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>personal account</span>
				<input type="checkbox" id="switch77" />
				<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Business account</span>
				<input type="checkbox" id="switch88" />
				<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show me online</span>
				<input type="checkbox" id="switch99" />
				<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Delete history</span>
				<input type="checkbox" id="switch101" />
				<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Expose author name</span>
				<input type="checkbox" id="switch111" />
				<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
	</div><!-- side panel -->



	

</body>
</html>