@model DATN.MVC.Request.MarketPlaces.CreateSalceplaces

@{
    ViewData["Title"] = "Tạo Gian Hàng";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
            color: #495057;
        }

        .form-container {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            max-width: 600px;
            margin: 50px auto;
            transition: all 0.3s ease-in-out;
        }

        h1 {
            text-align: center;
            color: #007bff;
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
            border: 1px solid black !important;
            padding: 10px !important;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .alert {
            border-radius: 5px;
            font-size: 16px;
            padding: 15px;
            text-align: center;
            margin-top: 20px;
        }

        .alert-success {
            background-color: #28a745;
            color: white;
            font-size: 18px;
        }

        .alert-danger {
            background-color: #dc3545;
            color: white;
            font-size: 18px;
        }

        .image-container {
            position: relative;
            width: 100%;
            max-width: 300px;
            height: 200px;
            margin-top: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            background-color: #f8f9fa;
        }

            .image-container img {
                width: 100%;
                height: 100%;
                object-fit: fill;
                display: block;
            }

        /* Ẩn form khi có thông báo */
        .form-container.hidden {
            display: none;
        }

        .alert-container {
            text-align: center;
            padding: 30px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 50px auto;
        }

        .ok-button {
            font-size: 16px;
            padding: 12px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .ok-button:hover {
                background-color: #0056b3;
            }
    </style>
    <link rel="icon" href="/assets/img/logo/shopee-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/category.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-5.12.1-web/css/all.min.css" />
</head>
<body>

    <!--Navbar-->
    @Html.Partial("_Header")

    <header class="header" style="color: ">
        <div class="grid wide">
            <!-- navbar -->
            <nav class="header__navbar hide-on-mobile-tablet">
            </nav>
            <!-- search -->
            <div class="header__contain">
                <label for="mobile-search" class="header__mobile-search">
                    <i class="header__mobile-search-icon fas fa-search"></i>
                </label>
                <div class="header__logo">
                    <a href="#" class="header__logo-link"></a>
                </div>
                <input type="checkbox" id="mobile-search" class="header__search-check" hidden>
                <form action="@Url.Action("SearchByName", "MarketPlace")" method="get" class="header__search">
                    <div class="header__search-input-wrap">
                        <input type="text" name="searchTerm" class="header__search-input" placeholder="Tìm kiếm sản phẩm..." value="@ViewBag.SearchTerm">
                    </div>
                    <button type="submit" class="btn header__search-btn">
                        <i class="header__search-btn-icon fas fa-search"></i>
                    </button>
                </form>
                <div class="header__cart header__cart--has-cart">
                </div>
            </div>
        </div>
    </header>

    <div class="form-container @(TempData["ErrorMessage"] != null ? "hidden" : "")">
        <h1>@ViewData["Title"]</h1>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success mt-3">@TempData["SuccessMessage"]</div>
        }

        @if (TempData["ErrorMessage"] == null)
        {
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Name">Tên Gian Hàng</label>
                    <input type="text" class="form-control input-name" id="Name" name="Name" placeholder="Điền tên gian hàng" value="@Model?.Name" required />
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="form-group">
                    <label for="ImageFile">Hình Ảnh</label>
                    <input type="file" class="form-control input-image" id="ImageFile" name="ImageFile" accept="image/*" onchange="previewImage(event)" required />
                    @Html.ValidationMessageFor(model => model.ImageFile)
                </div>

                <div class="form-group">
                    <div class="image-container" id="imagePreview">
                        <img id="imagePreviewImg" src="" alt="Ảnh sẽ hiển thị ở đây" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Tạo Gian Hàng</button>
            </form>
        }

        <!-- Hiển thị thông báo lỗi và nút OK khi không thể tạo gian hàng -->
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert-container">
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                <button class="ok-button" onclick="goToSalePlace()">OK</button>
            </div>
        }
    </div>
    <!-- Hiển thị thông báo lỗi và nút OK khi không thể tạo gian hàng -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert-container">
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            <button class="ok-button" onclick="goToSalePlace()">OK</button>
        </div>
    }

    
        <script>
            // Hàm xem trước ảnh
            function previewImage(event) {
                const file = event.target.files[0];
                const reader = new FileReader();

                reader.onload = function () {
                    const imagePreview = document.getElementById('imagePreviewImg');
                    imagePreview.src = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                }
            }

        // Chuyển hướng về trang gian hàng sau khi nhấn nút OK
        function goToSalePlace() {
            window.location.href = '@Url.Action("SalePlace", "MarketPlace")';
        }
   
    </script>


</body>
</html>
